@mixin image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  border-radius: 50px;
  transition: opacity 0.25s;
}

@mixin image__img {
  display: block;
  width: 100%;
}

@mixin image__title {
  font-size: 3rem;
  font-weight: bold;
}

@mixin image__overlay_baby {
  transform: translateY(20px);
  transition: transform 0.25s;
}

@mixin image__overlay_hover {
  opacity: 1;
}
@mixin image__overlay_hover_baby {
  transform: translateY(0px);
}

@mixin div_base {
  position: relative;
  width: 100%;
}
