*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
  overflow-x: hidden;
}

header {
  grid-column: span 5;
  padding: 30px;
  font-size: 22px;
  text-align: center;
}

@media only screen and (max-width: 776px) and (min-width: 100px) {
  header {
    font-size: 15px;
  }
}

header.container-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #eba344;
}

header.container-nav h1 {
  font-size: 36px;
  color: white;
}

@media only screen and (max-width: 776px) and (min-width: 100px) {
  header.container-nav h1 {
    font-size: 20px;
  }
}

header.container-nav h1 span {
  font-style: italic;
  font-weight: lighter;
}

@media only screen and (max-width: 1200px) {
  header.container-nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
  }
}

header .container-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3rem;
  text-transform: uppercase;
}

@media only screen and (max-width: 776px) and (min-width: 100px) {
  header .container-list {
    gap: 1rem;
  }
}

header .container-list li {
  position: relative;
}

header .container-list a::before, header .container-list a::after {
  content: "";
  display: block;
  height: 5px;
  background-color: #864411;
  position: absolute;
  width: 0%;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

header .container-list a::before {
  top: -0.45rem;
}

header .container-list a::after {
  bottom: -0.45rem;
}

header .container-list a:hover {
  color: #864411;
}

header .container-list a:hover::before, header .container-list a:hover::after {
  width: 100%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  grid-column: span 5;
  padding: 13px;
  font-size: 18px;
  background-color: #eba344;
  color: white;
}

footer ul {
  list-style: none;
}

footer ul .main-li {
  font-size: 25px;
  font-weight: bold;
}

footer ul li {
  font-weight: lighter;
  padding: 2px 0;
}

@media only screen and (max-width: 776px) and (min-width: 100px) {
  footer {
    font-size: 10px;
  }
  footer ul .main-li {
    font-size: 15px;
  }
}

a {
  text-decoration: none;
  color: white;
}

.container-cards {
  margin: 6rem 2rem 6rem 0;
}

.container-cards img {
  border-radius: 5px 5px 0 0;
  vertical-align: middle;
  width: 100%;
}

.container-cards .card {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 5px;
  padding: 20px;
  min-height: 400px;
  overflow: hidden;
}

@media only screen and (max-width: 776px) and (min-width: 100px) {
  .container-cards .card {
    min-height: auto;
  }
}

.container-cards .card ul {
  padding: 20px;
  line-height: 1.5;
  text-align: justify;
  -webkit-animation-name: move-text;
          animation-name: move-text;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes move-text {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
  }
}

@keyframes move-text {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
  }
}

.container-cards .card.card:hover {
  -webkit-box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.3);
}

.container-cards .card h4 {
  text-align: center;
  font-size: 25px;
  background-color: #eba344;
  border-radius: 10px;
  color: white;
  padding: 3px 0px;
}

.container-side-left {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-animation-name: move-img-left;
          animation-name: move-img-left;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.container-side-left p {
  font-size: 120px;
  color: #eba344;
}

.container-side-left img {
  width: 100%;
}

@-webkit-keyframes move-img-left {
  0% {
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes move-img-left {
  0% {
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container-side-right {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-animation-name: move-img-right;
          animation-name: move-img-right;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.container-side-right p {
  font-size: 120px;
  color: #eba344;
  padding-right: 2rem;
}

.container-side-right img {
  width: 100%;
}

@-webkit-keyframes move-img-right {
  0% {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes move-img-right {
  0% {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container-grid-index {
  min-height: 100vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 13rem 1fr 1fr 1fr 13rem;
      grid-template-columns: 13rem 1fr 1fr 1fr 13rem;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
      grid-template-areas: "header header header header header" "tag-open  card1  card2  card3  tag-close" "footer footer footer footer footer";
}

.container-grid-index header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: header;
}

.container-grid-index .container-side-left {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: tag-open;
}

.container-grid-index .card-one {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: card1;
}

.container-grid-index .card-two {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: card2;
}

.container-grid-index .card-three {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: card3;
}

.container-grid-index .container-side-right {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
  grid-area: tag-close;
}

.container-grid-index footer {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: footer;
}

@media only screen and (max-width: 1200px) {
  .container-grid-index {
    margin: auto;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: "header header header header" "card1 card1 card2 card2" ". card3 card3 ." "footer footer footer footer";
  }
  .container-grid-index .card-one,
  .container-grid-index .card-two,
  .container-grid-index .card-three {
    margin: 5%;
  }
  .container-grid-index .container-side-left p,
  .container-grid-index .container-side-right p {
    display: none;
  }
}

@media only screen and (max-width: 776px) and (min-width: 100px) {
  .container-grid-index {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "header header header" "card1 card1 card1" "card2 card2 card2" "card3 card3 card3" "footer footer footer";
  }
  .container-grid-index .card-one,
  .container-grid-index .card-two,
  .container-grid-index .card-three {
    margin: 5%;
  }
  .container-grid-index .container-side-left p,
  .container-grid-index .container-side-right p {
    display: none;
  }
}

.container-grid-cv {
  min-height: 100vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 13rem 1fr 1fr 1fr 1fr 13rem;
      grid-template-columns: 13rem 1fr 1fr 1fr 1fr 13rem;
  -ms-grid-rows: auto 1fr 1fr 1fr auto;
      grid-template-rows: auto 1fr 1fr 1fr auto;
      grid-template-areas: "header header header header header header" ". partxt partxt parimg parimg ." ". svfimg svfimg svftxt svftxt ." ". svetxt svetxt sveimg sveimg ." "footer footer footer footer footer footer";
}

.container-grid-cv img {
  width: 100%;
  max-height: 300px;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50px;
  -webkit-animation-name: move-img;
          animation-name: move-img;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes move-img {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@keyframes move-img {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

.container-grid-cv h4 {
  padding: 5px 0;
  margin-bottom: 10px;
  font-size: 30px;
  background-color: #eba344;
  color: white;
  border-radius: 15px;
  width: 50%;
  text-align: center;
  -webkit-animation-name: move-title;
          animation-name: move-title;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes move-title {
  0% {
    opacity: 0;
    -webkit-transform: translateX(300%);
            transform: translateX(300%);
  }
}

@keyframes move-title {
  0% {
    opacity: 0;
    -webkit-transform: translateX(300%);
            transform: translateX(300%);
  }
}

.container-grid-cv div ul {
  list-style: none;
  font-size: 18px;
  -webkit-animation: move-txt;
          animation: move-txt;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  overflow-y: hidden;
}

@-webkit-keyframes move-txt {
  0% {
    opacity: 0;
    -webkit-transform: translateY(35%);
            transform: translateY(35%);
  }
  100% {
    opacity: 1;
  }
}

@keyframes move-txt {
  0% {
    opacity: 0;
    -webkit-transform: translateY(35%);
            transform: translateY(35%);
  }
  100% {
    opacity: 1;
  }
}

.container-grid-cv div li {
  font-weight: bolder;
}

.container-grid-cv div li span {
  color: #eba344;
  padding: 0 3px;
}

.container-grid-cv div p {
  font-weight: lighter;
  font-style: italic;
}

.container-grid-cv header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: header;
  margin-bottom: 5%;
}

.container-grid-cv .partxt {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: partxt;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-grid-cv .parimg {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: parimg;
}

.container-grid-cv .svftxt {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: svftxt;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-grid-cv .svfimg {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: svfimg;
}

.container-grid-cv .svetxt {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: svetxt;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-grid-cv .sveimg {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: sveimg;
}

.container-grid-cv footer {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: footer;
  margin-top: 5%;
}

@media only screen and (max-width: 1200px) {
  .container-grid-cv {
    -ms-grid-columns: 10rem 1fr 10rem;
        grid-template-columns: 10rem 1fr 10rem;
    -ms-grid-rows: auto 1fr 1fr 1fr auto;
        grid-template-rows: auto 1fr 1fr 1fr auto;
        grid-template-areas: "header header header" ". partxt ." ". parimg ." ". svftxt ." ". svfimg ." ". svetxt ." ". sveimg ." "footer footer footer";
  }
}

@media only screen and (max-width: 776px) and (min-width: 100px) {
  .container-grid-cv {
    -ms-grid-columns: 2rem 1fr 2rem;
        grid-template-columns: 2rem 1fr 2rem;
    -ms-grid-rows: auto auto auto auto auto;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas: "header header header" ". partxt ." ". parimg ." ". svftxt ." ". svfimg ." ". svetxt ." ". sveimg ." "footer footer footer";
  }
  .container-grid-cv div h4 {
    font-size: 20px;
  }
  .container-grid-cv div ul {
    font-size: 15px;
  }
}

.container-grid-loisirs {
  min-height: 100vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  gap: 2rem;
  -ms-grid-columns: 10rem 1fr 1fr 1fr 1fr 10rem;
      grid-template-columns: 10rem 1fr 1fr 1fr 1fr 10rem;
  -ms-grid-rows: auto 200px 200px 200px 200px auto 200px 200px 200px auto;
      grid-template-rows: auto 200px 200px 200px 200px auto 200px 200px 200px auto;
      grid-template-areas: "header header header header header header" "gaming  osu   txtjeu txtjeu  bdo   ......" "......  csgo   lol    lol   val    ......" "anime  naruto  hxh    hxh   sns    ......" "...... kuroko txtvid txtvid snk     ....." "...... design design design design ......" "music  jrock  kpop   pop    game   ......" "...... piano  txtmus txtmus rock   ......" "...... psy    rapus  divers metal  ......" "footer footer footer footer footer footer";
}

.container-grid-loisirs header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: header;
  margin-bottom: 5%;
}

.container-grid-loisirs .gaming {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: gaming;
}

.container-grid-loisirs .osu {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: osu;
}

.container-grid-loisirs .text-game {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: txtjeu;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 50px;
  color: #eba344;
}

.container-grid-loisirs .bdo {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
  grid-area: bdo;
}

.container-grid-loisirs .csgo {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: csgo;
}

.container-grid-loisirs .lol {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: lol;
}

.container-grid-loisirs .val {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  grid-area: val;
}

.container-grid-loisirs .anime {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: anime;
}

.container-grid-loisirs .naruto {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: naruto;
}

.container-grid-loisirs .hxh {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: hxh;
}

.container-grid-loisirs .sns {
  -ms-grid-row: 4;
  -ms-grid-column: 5;
  grid-area: sns;
}

.container-grid-loisirs .kuroko {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: kuroko;
}

.container-grid-loisirs .text-anime {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: txtvid;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 50px;
  color: #eba344;
}

.container-grid-loisirs .text-anime a {
  color: unset;
}

.container-grid-loisirs .snk {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
  grid-area: snk;
  text-align: center;
}

.container-grid-loisirs .design {
  -ms-grid-row: 6;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: design;
}

.container-grid-loisirs .music {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: music;
}

.container-grid-loisirs .jrock {
  -ms-grid-row: 7;
  -ms-grid-column: 2;
  grid-area: jrock;
  position: relative;
  width: 100%;
}

.container-grid-loisirs .jrock .image__img {
  display: block;
  width: 100%;
}

.container-grid-loisirs .jrock .image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  border-radius: 50px;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.container-grid-loisirs .jrock .image__title {
  font-size: 3rem;
  font-weight: bold;
}

.container-grid-loisirs .jrock .image__overlay > * {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

.container-grid-loisirs .jrock .image__overlay:hover {
  opacity: 1;
}

.container-grid-loisirs .jrock .image__overlay:hover > * {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.container-grid-loisirs .kpop {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
  grid-area: kpop;
}

.container-grid-loisirs .pop {
  -ms-grid-row: 7;
  -ms-grid-column: 4;
  grid-area: pop;
}

.container-grid-loisirs .game {
  -ms-grid-row: 7;
  -ms-grid-column: 5;
  grid-area: game;
}

.container-grid-loisirs .piano {
  -ms-grid-row: 8;
  -ms-grid-column: 2;
  grid-area: piano;
}

.container-grid-loisirs .text-music {
  -ms-grid-row: 8;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: txtmus;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 50px;
  color: #eba344;
}

.container-grid-loisirs .rock {
  -ms-grid-row: 8;
  -ms-grid-column: 5;
  grid-area: rock;
}

.container-grid-loisirs .psy {
  -ms-grid-row: 9;
  -ms-grid-column: 2;
  grid-area: psy;
}

.container-grid-loisirs .rapus {
  -ms-grid-row: 9;
  -ms-grid-column: 3;
  grid-area: rapus;
}

.container-grid-loisirs .divers {
  -ms-grid-row: 9;
  -ms-grid-column: 4;
  grid-area: divers;
}

.container-grid-loisirs .metal {
  -ms-grid-row: 9;
  -ms-grid-column: 5;
  grid-area: metal;
  text-align: center;
}

.container-grid-loisirs .metal,
.container-grid-loisirs .naruto,
.container-grid-loisirs .psy,
.container-grid-loisirs .rock,
.container-grid-loisirs .rapus,
.container-grid-loisirs .piano,
.container-grid-loisirs .snk,
.container-grid-loisirs .sns,
.container-grid-loisirs .pop,
.container-grid-loisirs .kuroko,
.container-grid-loisirs .kpop,
.container-grid-loisirs .jrock,
.container-grid-loisirs .hxh,
.container-grid-loisirs .divers,
.container-grid-loisirs .game {
  position: relative;
  width: 100%;
}

.container-grid-loisirs .metal .image__img,
.container-grid-loisirs .naruto .image__img,
.container-grid-loisirs .psy .image__img,
.container-grid-loisirs .rock .image__img,
.container-grid-loisirs .rapus .image__img,
.container-grid-loisirs .piano .image__img,
.container-grid-loisirs .snk .image__img,
.container-grid-loisirs .sns .image__img,
.container-grid-loisirs .pop .image__img,
.container-grid-loisirs .kuroko .image__img,
.container-grid-loisirs .kpop .image__img,
.container-grid-loisirs .jrock .image__img,
.container-grid-loisirs .hxh .image__img,
.container-grid-loisirs .divers .image__img,
.container-grid-loisirs .game .image__img {
  display: block;
  width: 100%;
}

.container-grid-loisirs .metal .image__overlay,
.container-grid-loisirs .naruto .image__overlay,
.container-grid-loisirs .psy .image__overlay,
.container-grid-loisirs .rock .image__overlay,
.container-grid-loisirs .rapus .image__overlay,
.container-grid-loisirs .piano .image__overlay,
.container-grid-loisirs .snk .image__overlay,
.container-grid-loisirs .sns .image__overlay,
.container-grid-loisirs .pop .image__overlay,
.container-grid-loisirs .kuroko .image__overlay,
.container-grid-loisirs .kpop .image__overlay,
.container-grid-loisirs .jrock .image__overlay,
.container-grid-loisirs .hxh .image__overlay,
.container-grid-loisirs .divers .image__overlay,
.container-grid-loisirs .game .image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  border-radius: 50px;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.container-grid-loisirs .metal .image__title,
.container-grid-loisirs .naruto .image__title,
.container-grid-loisirs .psy .image__title,
.container-grid-loisirs .rock .image__title,
.container-grid-loisirs .rapus .image__title,
.container-grid-loisirs .piano .image__title,
.container-grid-loisirs .snk .image__title,
.container-grid-loisirs .sns .image__title,
.container-grid-loisirs .pop .image__title,
.container-grid-loisirs .kuroko .image__title,
.container-grid-loisirs .kpop .image__title,
.container-grid-loisirs .jrock .image__title,
.container-grid-loisirs .hxh .image__title,
.container-grid-loisirs .divers .image__title,
.container-grid-loisirs .game .image__title {
  font-size: 3rem;
  font-weight: bold;
}

@media only screen and (max-width: 1200px) {
  .container-grid-loisirs .metal .image__title,
  .container-grid-loisirs .naruto .image__title,
  .container-grid-loisirs .psy .image__title,
  .container-grid-loisirs .rock .image__title,
  .container-grid-loisirs .rapus .image__title,
  .container-grid-loisirs .piano .image__title,
  .container-grid-loisirs .snk .image__title,
  .container-grid-loisirs .sns .image__title,
  .container-grid-loisirs .pop .image__title,
  .container-grid-loisirs .kuroko .image__title,
  .container-grid-loisirs .kpop .image__title,
  .container-grid-loisirs .jrock .image__title,
  .container-grid-loisirs .hxh .image__title,
  .container-grid-loisirs .divers .image__title,
  .container-grid-loisirs .game .image__title {
    font-size: 2rem;
    text-align: center;
  }
}

@media only screen and (max-width: 776px) and (min-width: 100px) {
  .container-grid-loisirs .metal .image__title,
  .container-grid-loisirs .naruto .image__title,
  .container-grid-loisirs .psy .image__title,
  .container-grid-loisirs .rock .image__title,
  .container-grid-loisirs .rapus .image__title,
  .container-grid-loisirs .piano .image__title,
  .container-grid-loisirs .snk .image__title,
  .container-grid-loisirs .sns .image__title,
  .container-grid-loisirs .pop .image__title,
  .container-grid-loisirs .kuroko .image__title,
  .container-grid-loisirs .kpop .image__title,
  .container-grid-loisirs .jrock .image__title,
  .container-grid-loisirs .hxh .image__title,
  .container-grid-loisirs .divers .image__title,
  .container-grid-loisirs .game .image__title {
    font-size: 1rem;
    text-align: center;
  }
}

.container-grid-loisirs .metal .image__overlay > *,
.container-grid-loisirs .naruto .image__overlay > *,
.container-grid-loisirs .psy .image__overlay > *,
.container-grid-loisirs .rock .image__overlay > *,
.container-grid-loisirs .rapus .image__overlay > *,
.container-grid-loisirs .piano .image__overlay > *,
.container-grid-loisirs .snk .image__overlay > *,
.container-grid-loisirs .sns .image__overlay > *,
.container-grid-loisirs .pop .image__overlay > *,
.container-grid-loisirs .kuroko .image__overlay > *,
.container-grid-loisirs .kpop .image__overlay > *,
.container-grid-loisirs .jrock .image__overlay > *,
.container-grid-loisirs .hxh .image__overlay > *,
.container-grid-loisirs .divers .image__overlay > *,
.container-grid-loisirs .game .image__overlay > * {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

.container-grid-loisirs .metal .image__overlay:hover,
.container-grid-loisirs .naruto .image__overlay:hover,
.container-grid-loisirs .psy .image__overlay:hover,
.container-grid-loisirs .rock .image__overlay:hover,
.container-grid-loisirs .rapus .image__overlay:hover,
.container-grid-loisirs .piano .image__overlay:hover,
.container-grid-loisirs .snk .image__overlay:hover,
.container-grid-loisirs .sns .image__overlay:hover,
.container-grid-loisirs .pop .image__overlay:hover,
.container-grid-loisirs .kuroko .image__overlay:hover,
.container-grid-loisirs .kpop .image__overlay:hover,
.container-grid-loisirs .jrock .image__overlay:hover,
.container-grid-loisirs .hxh .image__overlay:hover,
.container-grid-loisirs .divers .image__overlay:hover,
.container-grid-loisirs .game .image__overlay:hover {
  opacity: 1;
}

.container-grid-loisirs .metal .image__overlay:hover > *,
.container-grid-loisirs .naruto .image__overlay:hover > *,
.container-grid-loisirs .psy .image__overlay:hover > *,
.container-grid-loisirs .rock .image__overlay:hover > *,
.container-grid-loisirs .rapus .image__overlay:hover > *,
.container-grid-loisirs .piano .image__overlay:hover > *,
.container-grid-loisirs .snk .image__overlay:hover > *,
.container-grid-loisirs .sns .image__overlay:hover > *,
.container-grid-loisirs .pop .image__overlay:hover > *,
.container-grid-loisirs .kuroko .image__overlay:hover > *,
.container-grid-loisirs .kpop .image__overlay:hover > *,
.container-grid-loisirs .jrock .image__overlay:hover > *,
.container-grid-loisirs .hxh .image__overlay:hover > *,
.container-grid-loisirs .divers .image__overlay:hover > *,
.container-grid-loisirs .game .image__overlay:hover > * {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.container-grid-loisirs footer {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: footer;
  margin-top: 5%;
}

.container-grid-loisirs img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: middle;
  border-radius: 50px;
}

.container-grid-loisirs .text-game {
  grid-column: span 2;
}

.container-grid-loisirs .text-anime {
  grid-column: span 2;
}

.container-grid-loisirs .design {
  height: 5px;
  margin: 20px 0;
  background-color: orangered;
}

.container-grid-loisirs .music,
.container-grid-loisirs .gaming,
.container-grid-loisirs .anime {
  font-size: 100px;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #eba344;
  padding-left: 30px;
}

.container-grid-loisirs img {
  -webkit-animation-name: move-img;
          animation-name: move-img;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@keyframes move-img {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
  }
}

@media only screen and (max-width: 1200px) {
  .container-grid-loisirs {
    -ms-grid-columns: 0.5fr 1fr 1fr 0.5fr;
        grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
    -ms-grid-rows: auto 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr auto;
        grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr auto;
        grid-template-areas: "header header header header" ". osu csgo ." ". lol val ." ". snk hxh ." ". sns kuroko ." ". jrock kpop ." ". pop game ." ". piano rock ." ". psy rapus ." ". divers metal ." "footer footer footer footer";
  }
  .container-grid-loisirs .text-game,
  .container-grid-loisirs .text-anime,
  .container-grid-loisirs .text-music,
  .container-grid-loisirs .gaming,
  .container-grid-loisirs .anime,
  .container-grid-loisirs .music,
  .container-grid-loisirs .design,
  .container-grid-loisirs .bdo,
  .container-grid-loisirs .naruto {
    display: none;
  }
  .container-grid-loisirs .image__title {
    font-size: 14px;
  }
}

.container-grid-contact {
  min-height: 100vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 0.5fr 1fr 1fr 0.5fr;
      grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
  -ms-grid-rows: auto 1fr 1fr 1fr 1fr auto;
      grid-template-rows: auto 1fr 1fr 1fr 1fr auto;
      grid-template-areas: "header header header header" ". text text ." ". p p ." ". form form ." ". textfin textfin ." "footer footer footer footer";
}

.container-grid-contact header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: header;
  margin-bottom: 5%;
}

.container-grid-contact footer {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: footer;
  margin-top: 5%;
}

.container-grid-contact h4 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: text;
}

.container-grid-contact p {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: p;
}

.container-grid-contact p span {
  font-size: 30px;
  text-transform: uppercase;
  color: red;
}

.container-grid-contact form {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: form;
}

.container-grid-contact .text-fin {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: textfin;
}
/*# sourceMappingURL=index.css.map */