.container-cards {
  margin: 6rem 2rem 6rem 0;

  img {
    border-radius: 5px 5px 0 0;
    vertical-align: middle;
    width: 100%;
  }

  .card {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    border-radius: 5px;
    padding: 20px;
    min-height: 400px;
    overflow: hidden;

    @media only screen and (max-width: 776px) and (min-width: 100px) {
      min-height: auto;
    }

    ul {
      padding: 20px;
      line-height: 1.5;
      text-align: justify;
      animation-name: move-text;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
    }

    @keyframes move-text {
      0% {
        opacity: 0;
        transform: translateY(100%);
      }

      100% {
        opacity: 1;
      }
    }

    &.card:hover {
      box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.3);
    }

    h4 {
      text-align: center;
      font-size: 25px;
      background-color: rgb(235, 163, 68);
      border-radius: 10px;
      color: white;
      padding: 3px 0px;
    }
  }
}
