footer {
  display: flex;
  justify-content: space-evenly;
  grid-column: span 5;
  padding: 13px;
  font-size: 18px;
  background-color: rgb(235, 163, 68);
  color: white;

  ul {
    list-style: none;
    .main-li {
      font-size: 25px;
      font-weight: bold;
    }
    li {
      font-weight: lighter;
      padding: 2px 0;
    }
  }
  @media only screen and (max-width: 776px) and (min-width: 100px) {
    font-size: 10px;

    ul {
      .main-li {
        font-size: 15px;
      }
    }
  }
}
