.container-grid-index {
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 13rem 1fr 1fr 1fr 13rem;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header header header header"
    "tag-open  card1  card2  card3  tag-close"
    "footer footer footer footer footer";

  header {
    grid-area: header;
  }
  .container-side-left {
    grid-area: tag-open;
  }
  .card-one {
    grid-area: card1;
  }
  .card-two {
    grid-area: card2;
  }
  .card-three {
    grid-area: card3;
  }
  .container-side-right {
    grid-area: tag-close;
  }
  footer {
    grid-area: footer;
  }

  @media only screen and (max-width: 1200px) {
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "header header header header"
      "card1 card1 card2 card2"
      ". card3 card3 ."
      "footer footer footer footer";
    .card-one,
    .card-two,
    .card-three {
      margin: 5%;
    }
    .container-side-left,
    .container-side-right {
      p {
        display: none;
      }
    }
  }

  @media only screen and (max-width: 776px) and (min-width: 100px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "header header header"
      "card1 card1 card1"
      "card2 card2 card2"
      "card3 card3 card3"
      "footer footer footer";
    .card-one,
    .card-two,
    .card-three {
      margin: 5%;
    }
    .container-side-left,
    .container-side-right {
      p {
        display: none;
      }
    }
  }
}
