.container-grid-loisirs {
  min-height: 100vh;
  width: 100%;
  display: grid;
  gap: 2rem;

  grid-template-columns: 10rem 1fr 1fr 1fr 1fr 10rem;
  grid-template-rows: auto 200px 200px 200px 200px auto 200px 200px 200px auto;
  grid-template-areas:
    "header header header header header header"
    "gaming  osu   txtjeu txtjeu  bdo   ......"
    "......  csgo   lol    lol   val    ......"
    "anime  naruto  hxh    hxh   sns    ......"
    "...... kuroko txtvid txtvid snk     ....."
    "...... design design design design ......"
    "music  jrock  kpop   pop    game   ......"
    "...... piano  txtmus txtmus rock   ......"
    "...... psy    rapus  divers metal  ......"
    "footer footer footer footer footer footer";

  header {
    grid-area: header;
    margin-bottom: 5%;
  }
  .gaming {
    grid-area: gaming;
  }
  .osu {
    grid-area: osu;
  }
  .text-game {
    grid-area: txtjeu;
    text-align: center;
    align-self: center;
    font-size: 50px;
    color: rgb(235, 163, 68);
  }
  .bdo {
    grid-area: bdo;
  }
  .csgo {
    grid-area: csgo;
  }
  .lol {
    grid-area: lol;
  }
  .val {
    grid-area: val;
  }
  .anime {
    grid-area: anime;
  }
  .naruto {
    grid-area: naruto;
  }
  .hxh {
    grid-area: hxh;
  }
  .sns {
    grid-area: sns;
  }
  .kuroko {
    grid-area: kuroko;
  }
  .text-anime {
    grid-area: txtvid;
    text-align: center;
    align-self: center;
    font-size: 50px;
    color: rgb(235, 163, 68);

    a {
      color: unset;
    }
  }
  .snk {
    grid-area: snk;
    text-align: center;
  }
  .design {
    grid-area: design;
  }
  .music {
    grid-area: music;
  }
  .jrock {
    grid-area: jrock;
    position: relative;
    width: 100%;

    .image__img {
      display: block;
      width: 100%;
    }

    .image__overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      opacity: 0;
      border-radius: 50px;
      transition: opacity 0.25s;
    }

    .image__title {
      font-size: 3rem;
      font-weight: bold;
    }

    .image__overlay > * {
      transform: translateY(20px);
      transition: transform 0.25s;
    }

    .image__overlay:hover {
      opacity: 1;
    }

    .image__overlay:hover > * {
      transform: translateY(0px);
    }
  }
  .kpop {
    grid-area: kpop;
  }
  .pop {
    grid-area: pop;
  }
  .game {
    grid-area: game;
  }
  .piano {
    grid-area: piano;
  }
  .text-music {
    grid-area: txtmus;
    text-align: center;
    align-self: center;
    font-size: 50px;
    color: rgb(235, 163, 68);
  }
  .rock {
    grid-area: rock;
  }
  .psy {
    grid-area: psy;
  }
  .rapus {
    grid-area: rapus;
  }
  .divers {
    grid-area: divers;
  }
  .metal {
    grid-area: metal;
    text-align: center;
  }

  .metal,
  .naruto,
  .psy,
  .rock,
  .rapus,
  .piano,
  .snk,
  .sns,
  .pop,
  .kuroko,
  .kpop,
  .jrock,
  .hxh,
  .divers,
  .game {
    @include div_base;
    .image__img {
      @include image__img;
    }
    .image__overlay {
      @include image__overlay;
    }
    .image__title {
      @include image__title;
      @media only screen and (max-width: 1200px) {
        font-size: 2rem;
        text-align: center;
      }
      @media only screen and (max-width: 776px) and (min-width: 100px) {
        font-size: 1rem;
        text-align: center;
      }
    }
    .image__overlay > * {
      @include image__overlay_baby;
    }
    .image__overlay:hover {
      @include image__overlay_hover;
    }

    .image__overlay:hover > * {
      @include image__overlay_hover_baby;
    }
  }

  footer {
    grid-area: footer;
    margin-top: 5%;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    vertical-align: middle;
    border-radius: 50px;
  }
  .text-game {
    grid-column: span 2;
  }
  .text-anime {
    grid-column: span 2;
  }
  .design {
    height: 5px;
    margin: 20px 0;
    background-color: orangered;
  }
  .music,
  .gaming,
  .anime {
    font-size: 100px;
    text-align: center;
    align-self: center;
    color: rgb(235, 163, 68);
    padding-left: 30px;
  }
  img {
    animation-name: move-img;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
  }

  @keyframes move-img {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    100% {
    }
  }
  @media only screen and (max-width: 1200px) {
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
    grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr auto;
    grid-template-areas:
      "header header header header"
      ". osu csgo ."
      ". lol val ."
      ". snk hxh ."
      ". sns kuroko ."
      ". jrock kpop ."
      ". pop game ."
      ". piano rock ."
      ". psy rapus ."
      ". divers metal ."
      "footer footer footer footer";

    .text-game,
    .text-anime,
    .text-music,
    .gaming,
    .anime,
    .music,
    .design,
    .bdo,
    .naruto {
      display: none;
    }

    .image__title {
      font-size: 14px;
    }
  }
}
