.container-grid-cv {
  min-height: 100vh;
  width: 100%;
  display: grid;
  gap: 2rem;
  align-items: center;
  grid-template-columns: 13rem 1fr 1fr 1fr 1fr 13rem;
  grid-template-rows: auto 1fr 1fr 1fr auto;
  grid-template-areas:
    "header header header header header header"
    ". partxt partxt parimg parimg ."
    ". svfimg svfimg svftxt svftxt ."
    ". svetxt svetxt sveimg sveimg ."
    "footer footer footer footer footer footer";

  img {
    width: 100%;
    max-height: 300px;
    object-position: center;
    object-fit: cover;
    border-radius: 50px;
    animation-name: move-img;
    animation-duration: 1s;
    animation-timing-function: linear;

    @keyframes move-img {
      0% {
        opacity: 0;
        transform: translateY(100%);
      }
    }
  }

  h4 {
    padding: 5px 0;
    margin-bottom: 10px;
    font-size: 30px;
    background-color: rgb(235, 163, 68);
    color: white;
    border-radius: 15px;
    width: 50%;
    text-align: center;
    animation-name: move-title;
    animation-duration: 1s;
    animation-timing-function: linear;

    @keyframes move-title {
      0% {
        opacity: 0;
        transform: translateX(300%);
      }
    }
  }
  div {
    ul {
      list-style: none;
      font-size: 18px;
      animation: move-txt;
      animation-timing-function: linear;
      animation-duration: 1s;
      overflow-y: hidden;

      @keyframes move-txt {
        0% {
          opacity: 0;
          transform: translateY(35%);
        }

        100% {
          opacity: 1;
        }
      }
    }

    li {
      font-weight: bolder;
      span {
        color: rgb(235, 163, 68);
        padding: 0 3px;
      }
    }
    p {
      font-weight: lighter;
      font-style: italic;
    }
  }

  header {
    grid-area: header;
    margin-bottom: 5%;
  }
  .partxt {
    grid-area: partxt;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .parimg {
    grid-area: parimg;
  }
  .svftxt {
    grid-area: svftxt;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .svfimg {
    grid-area: svfimg;
  }
  .svetxt {
    grid-area: svetxt;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sveimg {
    grid-area: sveimg;
  }
  footer {
    grid-area: footer;
    margin-top: 5%;
  }
  @media only screen and (max-width: 1200px) {
    grid-template-columns: 10rem 1fr 10rem;
    grid-template-rows: auto 1fr 1fr 1fr auto;
    grid-template-areas:
      "header header header"
      ". partxt ."
      ". parimg ."
      ". svftxt ."
      ". svfimg ."
      ". svetxt ."
      ". sveimg ."
      "footer footer footer";
  }
  @media only screen and (max-width: 776px) and (min-width: 100px) {
    grid-template-columns: 2rem 1fr 2rem;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
      "header header header"
      ". partxt ."
      ". parimg ."
      ". svftxt ."
      ". svfimg ."
      ". svetxt ."
      ". sveimg ."
      "footer footer footer";

    div {
      h4 {
        font-size: 20px;
      }
      ul {
        font-size: 15px;
      }
    }
  }
}
