.container-grid-contact {
  min-height: 100vh;
  width: 100%;
  display: grid;
  text-align: center;
  align-items: center;
  grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
  grid-template-rows: auto 1fr 1fr 1fr 1fr auto;
  grid-template-areas:
    "header header header header"
    ". text text ."
    ". p p ."
    ". form form ."
    ". textfin textfin ."
    "footer footer footer footer";

  header {
    grid-area: header;
    margin-bottom: 5%;
  }
  footer {
    grid-area: footer;
    margin-top: 5%;
  }
  h4 {
    grid-area: text;
  }
  p {
    grid-area: p;
    span {
      font-size: 30px;
      text-transform: $uppercase;
      color: red;
    }
  }
  form {
    grid-area: form;
  }
  .text-fin {
    grid-area: textfin;
  }
}
