header {
  grid-column: span 5;
  padding: 30px;
  font-size: 22px;
  text-align: center;

  @media only screen and (max-width: 776px) and (min-width: 100px) {
    font-size: 15px;
  }
  &.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(235, 163, 68);

    h1 {
      font-size: 36px;
      color: white;

      @media only screen and (max-width: 776px) and (min-width: 100px) {
        font-size: 20px;
      }

      span {
        font-style: italic;
        font-weight: lighter;
      }
    }

    @media only screen and (max-width: 1200px) {
      justify-content: center;
      gap: 20px;
    }
  }

  .container-list {
    display: flex;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    text-transform: $uppercase;

    @media only screen and (max-width: 776px) and (min-width: 100px) {
      gap: 1rem;
    }

    li {
      position: relative;
    }
    a {
      &::before,
      &::after {
        content: "";
        display: block;
        height: 5px;
        background-color: rgb(134, 68, 17);
        position: absolute;
        width: 0%;
        transition: all ease-in-out 300ms;
      }

      &::before {
        top: -0.45rem;
      }
      &::after {
        bottom: -0.45rem;
      }

      &:hover {
        color: rgb(134, 68, 17);
        &::before,
        &::after {
          width: 100%;
        }
      }
    }
  }
}
