.container-side-left {
  justify-self: center;
  align-self: center;
  animation-name: move-img-left;
  animation-duration: 0.5s;
  animation-timing-function: linear;

  p {
    font-size: 120px;
    color: rgb(235, 163, 68);
  }

  img {
    width: 100%;
  }

  @keyframes move-img-left {
    0% {
      transform: translateX(-200px);
    }
    100% {
      transform: translateX(0px);
    }
  }
}

.container-side-right {
  justify-self: center;
  align-self: center;
  animation-name: move-img-right;
  animation-duration: 0.5s;
  animation-timing-function: linear;

  p {
    font-size: 120px;
    color: rgb(235, 163, 68);
    padding-right: 2rem;
  }

  img {
    width: 100%;
  }

  @keyframes move-img-right {
    0% {
      transform: translateX(200px);
    }
    100% {
      transform: translateX(0px);
    }
  }
}
